.dart_tool/
build/
.idea/
.env
.env.*
node_modules/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.metadata
.DS_Store

android/.gradle/
android/local.properties
android/key.properties

ios/Pods/
ios/.symlinks/